/* Make the page a vertical flexbox */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Make the main area horizontal */
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

/* Article = 2/3 width */
article {
    flex: 2;
    overflow-y: auto;
}

/* Aside = 1/3 width */
aside {
    flex: 1;
    overflow-y: auto;
}

/* Ensure padding in base.css does not interfere */
article, aside {
    box-sizing: border-box;
}
