/* Make the page a vertical flexbox */
body {
    background-image: url("https://cdn.britannica.com/69/234469-050-B883797B/Rottweiler-dog.jpg");
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Make the main area horizontal */
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

/* Article = 2/3 width */
article {
    flex: 2;
    overflow-y: auto;
}

/* Aside = 1/3 width */
aside {
    flex: 1;
    overflow-y: auto;
}

/* Ensure padding in base.css does not interfere */
article, aside {
    box-sizing: border-box;
}
p{
    color: purple;
}

h1{
    color: navy;
}
h2{
    color: navy;
}
h3{
    color: navy;
}
table{
    color:navy;
}

a:link {
  color: blueviolet;
}

a:hover {
  text-decoration:wavy;
}